body {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif; }

.sub {
  display: block;
  margin-top: 20px; }

.retina-img {
  margin-top: 40px; }
.retina-img h2 {
  margin-bottom: 40px; }
.retina-img .row {
  margin-bottom: 40px; }
.retina-img .box-img {
  width: 360px;
  height: auto;
  margin-bottom: 15px;
  display: inline-block;
  margin-right: 15px; }
.retina-img .tag {
  display: inline-block;
  color: #fff;
  background: #73c3e0;
  margin-right: 5px;
  border-radius: 3px;
  padding: 3px 8px;
  font-size: 12px;
  font-weight: 600; }
.retina-img .descr {
  margin-top: 10px;
  margin-bottom: 20px; }

.share  span.icon {
  cursor: pointer;
}

.share-btn {
  display: inline-block;
  padding: 8px;
  border: 1px solid #000000;
  border-radius: 3px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .box-img {
    margin-top: 20px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .retina-img .box-img:nth-child(3) {
    margin-top: 40px; } }

@media (min-width: 1200px) {
  .container {
    width: 1670px !important; } }
